.payment-page {
  width: 402px;
  height: 857px;
  border-radius: 40px;
  overflow: hidden;
  background: #FFFFFF;
}
.payment-page .background-color-splash {
  position: absolute;
  top: -266px;
  left: -8px;
  width: 609px;
  height: 602px;
  background: radial-gradient(circle at 50% 50%, #c0ec4e 0%, rgba(216, 216, 216, 0) 100%);
}
.payment-page .payment-card {
  position: absolute;
  top: calc(100% - 857px + 21.5px);
  left: calc(100% - 402px + 14px);
  width: 375px;
  height: 825px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 18px;
  column-gap: 18px;
  padding: 16px;
}
.payment-page .payment-card .header {
  flex-shrink: 0;
  width: 359px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 4px;
  row-gap: 0px;
}
.payment-page .payment-card .header .back-button {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}
.payment-page .payment-card .header .payment-options {
  flex-shrink: 0;
  width: 258px;
  height: 24px;
  color: #4C4C57;
  font-family: "Days One";
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.payment-page .payment-card .content {
  flex-shrink: 0;
  width: 364px;
  height: 735px;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 30px;
  padding: 10px 0px 10px 0px;
}
.payment-page .payment-card .content .text {
  flex-shrink: 0;
  width: 342px;
  height: 633px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 16px;
  column-gap: 16px;
}
.payment-page .payment-card .content .text .information {
  flex-shrink: 0;
  align-self: stretch;
  width: 342px;
  height: 633px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 16px;
  column-gap: 16px;
  padding: 32px 16px 32px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
}
.payment-page .payment-card .content .text .information .option {
  flex-shrink: 0;
  width: 313px;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.payment-page .payment-card .content .text .information .option .step {
  flex-shrink: 0;
  width: 313px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 16px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .option .step .icon-1 {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}
.payment-page .payment-card .content .text .information .option .step .text-1 {
  flex-grow: 1;
  width: 269px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 4px;
  column-gap: 4px;
}
.payment-page .payment-card .content .text .information .option .step .text-1 .garia-station-road {
  flex-shrink: 0;
  align-self: stretch;
  width: 269px;
  height: 20px;
  color: #656565;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.payment-page .payment-card .content .text .information .option .step .text-1 .garia-station-road-chhoto-bot-tala-ce {
  flex-shrink: 0;
  align-self: stretch;
  width: 269px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #656565;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.payment-page .payment-card .content .text .information .option .divider {
  flex-shrink: 0;
  width: 28px;
  height: 44px;
}
.payment-page .payment-card .content .text .information .option .step-1 {
  flex-shrink: 0;
  width: 313px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 16px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .option .step-1 .icon-2 {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}
.payment-page .payment-card .content .text .information .option .step-1 .text-2 {
  flex-grow: 1;
  width: 269px;
  height: 37px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  column-gap: -3px;
}
.payment-page .payment-card .content .text .information .option .step-1 .text-2 > *:not(:first-child) {
  margin-top: -3px;
}
.payment-page .payment-card .content .text .information .option .step-1 .text-2 .howrah-railway-station {
  flex-shrink: 0;
  align-self: stretch;
  width: 269px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #656565;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.payment-page .payment-card .content .text .information .option .step-1 .text-2 .gulmohar-railway-quarter-howrah-wes {
  flex-shrink: 0;
  align-self: stretch;
  width: 269px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #656565;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.payment-page .payment-card .content .text .information .divider-1 {
  flex-shrink: 0;
  width: 311px;
  height: 7px;
}
.payment-page .payment-card .content .text .information .option-1 {
  flex-shrink: 0;
  align-self: stretch;
  width: 310px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.payment-page .payment-card .content .text .information .option-1 .bus-name--fare {
  flex-shrink: 0;
  width: 307px;
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 2px;
  column-gap: 2px;
}
.payment-page .payment-card .content .text .information .option-1 .bus-name--fare .frame-45 {
  flex-shrink: 0;
  width: 307px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 72px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .option-1 .bus-name--fare .frame-45 .s-112-naktala-howrah {
  flex-shrink: 0;
  width: 189px;
  height: 20px;
  white-space: nowrap;
  color: #4C4C57;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.payment-page .payment-card .content .text .information .option-1 .bus-name--fare .frame-45 .rs-30 {
  flex-shrink: 0;
  width: 46px;
  height: 20px;
  white-space: nowrap;
  color: #292929;
  font-family: "D-DIN";
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: right;
}
.payment-page .payment-card .content .text .information .option-1 .bus-name--fare .wb-05-2922 {
  flex-shrink: 0;
  width: 79px;
  height: 20px;
  white-space: nowrap;
  color: #9E9E9E;
  font-family: "D-DIN";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: right;
}
.payment-page .payment-card .content .text .information .option-1 .passengers {
  flex-shrink: 0;
  align-self: stretch;
  width: 310px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 137px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .option-1 .passengers .passengers-1 {
  flex-shrink: 0;
  width: 79px;
  height: 24px;
  white-space: nowrap;
  color: #292929;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.payment-page .payment-card .content .text .information .option-1 .passengers .passenger-count {
  flex-shrink: 0;
  width: 99px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 10px;
  row-gap: 0px;
  padding: 4px;
}
.payment-page .payment-card .content .text .information .option-1 .passengers .passenger-count .button-container {
  flex-shrink: 0;
  width: 55px;
  height: 24px;
}
.payment-page .payment-card .content .text .information .option-1 .passengers .passenger-count .text-02 {
  flex-grow: 1;
  width: 26px;
  height: 24px;
  color: #292929;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.payment-page .payment-card .content .text .information .divider-2 {
  flex-shrink: 0;
  width: 311px;
  height: 7px;
}
.payment-page .payment-card .content .text .information .upi-option {
  flex-shrink: 0;
  align-self: stretch;
  width: 310px;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 22px;
  column-gap: 22px;
}
.payment-page .payment-card .content .text .information .upi-option .frame-44 {
  flex-shrink: 0;
  width: 311px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 22px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .upi-option .frame-44 .pay-by-any-upi-app {
  flex-shrink: 0;
  width: 269px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #292929;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.payment-page .payment-card .content .text .information .upi-option .frame-44 .icon-3 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode {
  flex-shrink: 0;
  width: 281px;
  height: 212px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 12px;
  column-gap: 12px;
  padding: 16px;
  border: 1px solid #D9D9DE;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .gpay {
  flex-shrink: 0;
  align-self: stretch;
  width: 249px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 40px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .gpay .list-content-1 {
  flex-grow: 1;
  width: 189px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .gpay .list-content-1 .title-1 {
  flex-shrink: 0;
  align-self: stretch;
  width: 189px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .gpay .list-content-1 .title-1 .icons8-google-pay-240 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .gpay .list-content-1 .title-1 .google-pay {
  flex-shrink: 0;
  width: 75px;
  height: 20px;
  white-space: nowrap;
  color: #26262C;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .gpay .list-content-1 .title-1 .tag {
  flex-shrink: 0;
  width: 65px;
  height: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 10px;
  column-gap: 10px;
  padding: 0px 8px 0px 8px;
  background: #907EFF;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .gpay .list-content-1 .title-1 .tag .best-value {
  flex-shrink: 0;
  width: 49px;
  height: 16px;
  white-space: nowrap;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .gpay .components-radio-box {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .divider-3 {
  flex-shrink: 0;
  width: 249px;
  height: 7px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .phonepe {
  flex-shrink: 0;
  align-self: stretch;
  width: 249px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 40px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .phonepe .list-content-2 {
  flex-grow: 1;
  width: 189px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .phonepe .list-content-2 .title-2 {
  flex-shrink: 0;
  align-self: stretch;
  width: 189px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .phonepe .list-content-2 .title-2 .icons8-google-pay-241 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .phonepe .list-content-2 .title-2 .phonepe-1 {
  flex-shrink: 0;
  width: 60px;
  height: 20px;
  white-space: nowrap;
  color: #26262C;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .phonepe .components-radio-box-1 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .divider-4 {
  flex-shrink: 0;
  width: 249px;
  height: 7px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .bhim-upi {
  flex-shrink: 0;
  align-self: stretch;
  width: 249px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 40px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .bhim-upi .list-content-3 {
  flex-grow: 1;
  width: 189px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .bhim-upi .list-content-3 .title-3 {
  flex-shrink: 0;
  align-self: stretch;
  width: 189px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .bhim-upi .list-content-3 .title-3 .icons8-google-pay-242 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .bhim-upi .list-content-3 .title-3 .bhim {
  flex-shrink: 0;
  width: 37px;
  height: 20px;
  white-space: nowrap;
  color: #26262C;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .bhim-upi .components-radio-box-2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .divider-5 {
  flex-shrink: 0;
  width: 249px;
  height: 7px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .add-button {
  flex-shrink: 0;
  align-self: stretch;
  width: 249px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 40px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .add-button .list-content-4 {
  flex-grow: 1;
  width: 249px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .add-button .list-content-4 .title-4 {
  flex-shrink: 0;
  align-self: stretch;
  width: 249px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .add-button .list-content-4 .title-4 .add-new-upi-id {
  flex-shrink: 0;
  width: 106px;
  height: 20px;
  white-space: nowrap;
  color: #907EFF;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .add-button .list-content-4 .title-4 .add-line {
  flex-shrink: 0;
  width: 24px;
  height: 22px;
}
.payment-page .payment-card .content .text .information .upi-option .upi-mode .add-button .list-content-4 .you-need-have-a-registered-upi-id {
  flex-shrink: 0;
  align-self: stretch;
  width: 249px;
  height: 14px;
  color: #656565;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
}
.payment-page .payment-card .content .text .information .divider-6 {
  flex-shrink: 0;
  width: 311px;
  height: 7px;
}
.payment-page .payment-card .content .text .information .option-2 {
  flex-shrink: 0;
  align-self: stretch;
  width: 310px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .option-2 .credit-card {
  flex-shrink: 0;
  width: 166px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
  row-gap: 0px;
}
.payment-page .payment-card .content .text .information .option-2 .credit-card .icon-4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.payment-page .payment-card .content .text .information .option-2 .credit-card .credit-debit-card {
  flex-shrink: 0;
  width: 134px;
  height: 20px;
  white-space: nowrap;
  color: #49454F;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.payment-page .payment-card .content .text .information .option-2 .change {
  flex-shrink: 0;
  width: 58px;
  height: 20px;
  white-space: nowrap;
  color: #907EFF;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.payment-page .payment-card .content .button {
  flex-shrink: 0;
  width: 342px;
  height: 52px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 16px 135px 16px 135px;
  background: #030318;
}
.payment-page .payment-card .content .button .tap-to-pay {
  flex-shrink: 0;
  width: 94px;
  height: 20px;
  white-space: nowrap;
  color: #F1F1F1;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
