.sign-up-page {
  width: 402px;
  height: 857px;
  border-radius: 40px;
  overflow: hidden;
  background: #FFFFFF;
}
.sign-up-page .background-color-splash {
   position: absolute; 
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  background: radial-gradient(circle at 50% 50%, #c0ec4e 0%, rgba(216, 216, 216, 0) 100%);
}
.sign-up-page .yatrax {
  position: absolute;
  top: 96px;
  left: 36px;
  width: 181px;
  height: 1px;
  white-space: nowrap;
  color: rgba(44, 44, 44, 0.8);
  font-family: "Sonsie One";
  font-size: 36px;
  line-height: 0.01px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.sign-up-page .signup {
  position: absolute;
  top: 170px;
  /* left: 14px; */
  width: 100vw;
  height: 547px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #CAC4D0;
}
.sign-up-page .signup .signup-1 {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 296px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 24px;
  column-gap: 24px;
}
.sign-up-page .signup .signup-1 .inputs {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 16px;
  column-gap: 16px;
}
.sign-up-page .signup .signup-1 .inputs .input {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 10px;
  column-gap: 10px;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
}
.sign-up-page .signup .signup-1 .inputs .input .username {
  flex-shrink: 0;
  align-self: stretch;
  width: 295px;
  height: 23px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #907EFF;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.sign-up-page .signup .signup-1 .inputs .input-1 {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 10px;
  column-gap: 10px;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
}
.sign-up-page .signup .signup-1 .inputs .input-1 .email {
  flex-shrink: 0;
  align-self: stretch;
  width: 295px;
  height: 23px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #907EFF;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.sign-up-page .signup .signup-1 .inputs .input-2 {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 10px;
  column-gap: 10px;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
}
.sign-up-page .signup .signup-1 .inputs .input-2 .password-min-8-characters {
  flex-shrink: 0;
  align-self: stretch;
  width: 295px;
  height: 23px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #907EFF;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.sign-up-page .signup .signup-1 .text {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 4px;
  row-gap: 0px;
}

.sign-up-page .signup .signup-1 .text .checkbox .checkbox-1 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
  padding: 4px;
}
.sign-up-page .signup .signup-1 .text .i-have-read-and-agree-to-the-privacy-policy-and-terms {
  flex-grow: 1;
  width: 299px;
  height: 16px;
  color: #91929F;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.sign-up-page .signup .signup-1 .text .i-have-read-and-agree-to-the-privacy-policy-and-terms > div {
  width: 100%;
}
.sign-up-page .signup .signup-1 .text .i-have-read-and-agree-to-the-privacy-policy-and-terms > div span:nth-child(2) {
  color: #6750A4;
  text-decoration: underline;
  font-family: "Source Sans Pro";
}
.sign-up-page .signup .signup-1 .button {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #907EFF;
}
.sign-up-page .signup .signup-1 .button .sign-up {
  flex-shrink: 0;
  width: 57px;
  height: 20px;
  white-space: nowrap;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.sign-up-page .signup .others {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 24px;
  column-gap: 24px;
}
.sign-up-page .signup .others .other {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  row-gap: 0px;
}
.sign-up-page .signup .others .other .line {
  flex-shrink: 0;
  width: 135px;
  height: 8px;
}
.sign-up-page .signup .others .other .or {
  flex-shrink: 0;
  width: 17px;
  height: 20px;
  white-space: nowrap;
  color: #989898;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.sign-up-page .signup .others .other .line-1 {
  flex-shrink: 0;
  width: 139px;
  height: 8px;
}
.sign-up-page .signup .others .otheroptions {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 16px;
  column-gap: 16px;
}
.sign-up-page .signup .others .otheroptions .button1 {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  row-gap: 0px;
  overflow: hidden;
  background: #FFFFFF;
}
.sign-up-page .signup .others .otheroptions .button1 .icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.sign-up-page .signup .others .otheroptions .button1 .continue-with-google {
  flex-shrink: 0;
  width: 141px;
  height: 20px;
  white-space: nowrap;
  color: #464646;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.sign-up-page .signup .others .otheroptions .button2 {
  flex-shrink: 0;
  align-self: stretch;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  row-gap: 0px;
  overflow: hidden;
  background: #FFFFFF;
}
.sign-up-page .signup .others .otheroptions .button2 .phone {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.sign-up-page .signup .others .otheroptions .button2 .continue-with-mobile-number {
  flex-shrink: 0;
  width: 196px;
  height: 20px;
  white-space: nowrap;
  color: #464646;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
